# Git settings
.gitignore
.gitattributes

# Code styling settings
.editorconfig

# Visual Studio Code settings for extension development
.vscode/

# Development tools
.local/
scripts/
examples/
node_modules/
package-lock.json

# Keep only JSON grammars
grammars/**
!grammars/*.json

# Keep only JSON snippets
snippets/**
!snippets/*.json

# Output
*.log

# Other documents
*.md
!README.md
!CHANGELOG.md
